@model FirstProject_ECommerce.Models.Order

<h2 style="color:brown"><i> Update Order Status</i></h2>
<div class="row">
	<div class="col-md-4">
<form method="post" asp-action="Edit" asp-controller="AdminOrder">
	<div class="form-group">
				<label class="form-label">Status</label>
		<select asp-for="Status" class="form-control">
			<option value="Pending">Pending</option>
			<option value="Shipped">Shipped</option>
			<option value="Delivered">Delivered</option>
			<option value="Cancelled">Cancelled</option>
		</select>
	</div>
	
     	<button type="submit" class="btn btn-warning">
		Update
	</button>
  </form>
<a asp-action="Index">Back to List</a>
</div>
</div>


 